@charset "utf-8";

body{font-family: "Pretendard", sans-serif; font-size: 1.6rem; line-height: 1.5; color: #000;}

.inner{max-width: 1440px; padding: 0 20px; margin: 0 auto;}

#header{background: #fff; position: fixed; left: 0; top: 0; width: 100%; z-index: 999; transition: all 0.2s;}

#header .inner{max-width: 100%; height: 80px;  display: flex; justify-content: space-between; align-items: center;}

#header h1 a{display: block; width: 189px; height: 28px; font-size: 0; background: url("../images/logo.png");}

.gnb{display: flex; gap: 100px;}
.gnb li a{font-size: 2rem;}
.gnb li a:hover{text-decoration: line-through;}

.btn_ham{width: 24px; height: 24px; background: url("../images/btn_ham.png"); font-size: 0; cursor: pointer; display: none;}

@media(max-width:1024px){
  .gnb{display: none;}
  .btn_ham{display: block;}
}

/* btn_more */
.button-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* 공통 버튼 스타일 */
.animated-button {
  display: inline-block;
  width: 120px; /* 버튼 크기 */
  height: 40px;
  border: 2px solid #000;
  background: white;
  overflow: hidden;
  position: relative;
  text-align: center;
  transition: background 0.3s, border-color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 기본 텍스트 (호버 전, 가운데 정렬) */
.static-text {
  color: black;
  /* font-weight: bold; */
  /* font-style: italic; */
  position: absolute;
  white-space: nowrap;
  transition: opacity 0.3s;
}

/* 움직이는 텍스트 (호버 시) */
.marquee {
  position: absolute;
  top: 50%;
  left: 100%;
  white-space: nowrap;
  transform: translateY(-50%);
  display: none;
}

/* 움직이는 텍스트 스타일 */
.marquee span {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 3s linear infinite;
  font-style: italic;
  font-weight: bold;
  color: white;
}

/* 마키 애니메이션 */
@keyframes marquee {
  from {
      transform: translateX(-20%);
  }
  to {
      transform: translateX(-100%);
  }
}

/* 호버 시 효과 (두 버튼 공통) */
.animated-button:hover {
  background: #000;
  border-color: #000;
}

.animated-button:hover .static-text {
  opacity: 0; /* 기본 텍스트 숨김 */
}

.animated-button:hover .marquee {
  display: block; /* 움직이는 텍스트 보이기 */
  left: 0;
}

/* mgnb */
.mgnb_wrap{position: fixed; z-index: 999; width: 100%; height: 100vh; background: #fff; padding: 20px;}
.mgnb_header{display: flex; justify-content: space-between; height: 40px; align-items: center;}
.mgnb_header .logo{width: 189px; height: 28px; background: url("../images/logo.png");}
.mgnb_header .menu_close{background: transparent; cursor: pointer;}

.mgnb{position: absolute; top: 50%; transform: translate(-50%, -50%); left: 50%; width: calc(100% - 40px);}

.mgnb li{display: block; width: 100%;}
.mgnb li a{display: block; width: 100%; padding: 10px 0; font-size: 2.5rem; border: #000 2px solid; border-radius: 100px; text-align: center; font-weight: 700;}
.mgnb li a:hover{color: #fff; background: #000;}


/* intro */
.intro .inner{max-width: 100%; display: flex; flex-direction: column; justify-content: space-between;height: 100vh; position: relative; padding-top: 130px; padding-bottom: 80px;  overflow: hidden;}

.typing-container {font-size: 30vh; line-height: 0.9; display: inline-block; margin-top: 0;}
.intro span{display: block; white-space: nowrap;}

.btn_intro{display: flex;}
.intro a{display: inline-block; font-size: 5rem; font-weight: 700; padding: 10px 50px; border: 3px solid #000; border-radius: 100px;}
.intro a:hover{color: #fff; background: #000; animation:none;}


.intro .object{position: absolute; left: 75%; top: 10%; display: block; width: 700px; height: 700px; background: url("../images/object.png") 0 center no-repeat; animation: object_ani 10s infinite linear; z-index: -1;}

.scroll{position: absolute; right: 50px; bottom: 50px; display: inline-block; padding: 50px 0 0; width: 50px; background: url("../images/scroll.png") no-repeat top center; text-align: center; animation: scroll_ani 1.2s infinite linear; z-index: 999;}

@keyframes scroll_ani{
  0%{opacity: 0.5;}
  50%{opacity: 0.8;}
  100%{opacity: 0.5;}
}


@keyframes object_ani{
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}

.blink {
  animation: blink 2s infinite alternate;
}

@keyframes blink {
  0% {
    background: white;
    color: black;
  }
  100% {
    background: black;
    color: white;
  }
}

@media(max-width:1440px){
  /* .typing-container{font-size: 20rem;} */
  .intro a{font-size: 5rem;}
}

@media(max-width:1024px){
  .intro .inner{justify-content: flex-end;}
  .typing-container{font-size: 16rem; position: absolute; top: 50%; transform: translateY(-50%);}
  .intro a{font-size: 3rem;}  
  .intro .object{width: 600px; height: 600px; background: url("../images/object_tablet.png"); left: 70%;}
}

@media(max-width:768px){
  .typing-container{font-size: 8.7241vh; top: 40%;}
  .btn_intro{flex-direction: column;}
  .intro a{font-size: 2rem;  padding: 5px 30px;}
  .intro .object{width: 300px; height: 300px; background: url("../images/object_mobile.png"); opacity: 0.7;}
}

/* about_me */
.about_me .inner{display: flex; gap: 90px; height: 100vh; align-items: center; justify-content: end; padding-top: 0px;}
.about_left{width: 350px;}
.about_left .profile_img{width: 16vw; height: 40vh; border-radius: 100%; overflow: hidden; text-align: center;}
.about_left .profile_img img{height: 100%; text-align: center;}
.about_left p:nth-of-type(1){font-size: 2.5rem; padding: 10px 0 0px;}
.about_left p:nth-of-type(2){font-size: 2rem; padding: 10px 0 10px;}
.about_left p:nth-of-type(2)>strong{font-size: 2.5rem;}
.about_left p:nth-of-type(2)>span{font-size: 2rem;}
.about_left p:nth-of-type(3){opacity: 0.7;}


.about_right{width: calc(100% - 440px); display: flex; }
.about_right div{width: 50%;}
.about_right div:nth-child(2){border-left: rgba(0, 0, 0, 0.3) 1px solid;}
.about_right dl{ padding: 10px 15px; border-bottom: 1px solid rgba(0, 0, 0, 0.3);}
.about_right div:nth-child(2) dl:last-child{border: none;}
.about_me dl{position: relative;}
.about_right dl dt{font-size: 2.5rem; font-weight: bold;}
.about_right dl dd{padding-top: 10px;}
.about_right dl dd>span{font-weight: bold; opacity: 0.7;}

.about_me button{background: transparent; cursor: pointer; position: absolute; right: 0; top: 30px; display: none;}


@media(max-width: 1024px){
  .about_me .inner{flex-direction: column; height: auto; padding-top: 0;}
  .about_left{display: flex; gap: 50px; width: 100%;}
  .about_left .profile_img{width: 262.5px; height: 300px;}
  .about_left .txt{width: calc(100% - 312.5px);}

  .about_right{width: 100%; flex-direction: column;}
  .about_right div{width: 100%;}
  .about_right div:nth-child(2){border: none;}
  .about_right dl{padding: 30px 0;}

  .about_me button{display: inline-block;}
  .about_me dl dd{display: none;}
}
@media(max-width: 768px){
  .about_left{flex-direction: column; align-items: center;}
  .about_left .txt{width: 100%;}
  .about_right dl dt{font-size: 2rem;}
}

/*work title  */
.title{position: relative;}
.title h2{font-size: 3rem; padding: 10px 50px; display: inline-block; border-radius: 100px; border: 3px solid #000;}
.title h2:nth-child(1){color: #fff; background: #000;}
.title h2:nth-child(2){position: absolute; left: 170px;}

@media(max-width:768px){
  .title h2{font-size: 2.5rem; padding: 5px 20px;}
  .title h2:nth-child(2){left: 120px;}
}

/* swiper */
.swiper-button{position: absolute; font-size: 0; width: 50px; height: 50px; cursor: pointer; z-index: 999; transition: all 0.5s;}
.prev-button{left: 20px; top: 50%; background: url("../images/btn_prev.png"); }
.next-button{right: 20px; top: 50%; background: url("../images/btn_next.png");}
.prev-button:hover{opacity: 0.5; transform: translateX(-10%);}
.next-button:hover{opacity: 0.5; transform: translateX(10%);}

.swiper-pagination{bottom: 0; display: none;}
.swiper-pagination-bullet{border-radius: 0; background: #000;}


/* Progress Bar를 Swiper 위쪽에 배치 */
.progress-bar {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 10px;
  background: rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.progress-fill {
  width: 0%;
  height: 100%;
  background: #000; /* 진행 바 색상 */
  transition: width 0.3s ease-in-out;
  border-radius: 0 10px 10px 0;
}


/* work */
.work{position: relative; padding: 0 50px;}
.work h3{font-size: 3rem; text-shadow: rgba(0, 0, 0, 0.2) 2px 2px; text-decoration: underline;}
.work dl{padding: 15px 0;}
.work dt{font-size: 2.5rem;}
/* .work dd{font-size: 2rem;} */
.work p{opacity: 0.7;}
.btn_wrap{margin-top: 15px;}
.tool{display: flex; gap: 5px;}
 
@media(max-width: 768px){
  .work h3{font-size: 2.5rem;}
}

/* img_slide */
.img_slide>img{transition: all 5s linear;}
.img_slide:hover>img{transform: translateY(-85%);}

.graphic_img>img{transition: all 8s linear;}
.graphic_img:hover>img{transform: translateY(-90%);}

/* web */
.web_work{display: flex; gap: 80px; justify-content: center; padding: 100px 10px 10px;}
.web_txt{width: calc(100% - 40vw - 80px); color: #000;}
.web_img{width: 40vw; height: 400px; overflow: hidden; border: 3px solid #000; box-shadow: rgba(0, 0, 0, 0.2) 10px 10px; position: relative;}
.web_img>img{width: 100%; position: absolute;}


@media(max-width:1440px){
  .web_img{height: 300px;}
}

@media(max-width:1024px){
  .work{padding: 100px 0;}
  .web_work{flex-direction: column; padding: 50px 10px 10px;}
  .web_img{width: calc(100% - 10px); height: 400px;}
  .web_txt{max-width: 500px; width: 100%;}
  .swiper-button{display: none;}
  .swiper-pagination{display: block;}
}

/* graphic */
.graphic_work{display: flex; gap: 80px; justify-content: center; padding: 100px 10px 10px;}
.graphic_txt{width: calc(100% - 40vw - 80px); color: #000;}
.graphic_img{width: 40vw; height: 400px; overflow: hidden; border: 3px solid #000; box-shadow: rgba(0, 0, 0, 0.2) 10px 10px; position: relative;}
.graphic_img>img{width: 100%; position: absolute;}

@media(max-width:1440px){
  .graphic_img{height: 300px;}
}

@media(max-width:1024px){
  .work{padding: 100px 0;}
  .graphic_work{flex-direction: column; padding: 50px 10px 10px;}
  .graphic_img{width: calc(100% - 10px); height: 400px;}
  .graphic_txt{max-width: 500px; width: 100%;}
  .swiper-button{display: none;}
  .progress-bar{display: none;}
  .swiper{padding-bottom: 50px;}
}


/* contact */
.contact_top{padding-bottom: 18.5185vh; background: url("../images/contact_object.png") no-repeat top right;}
.contact_tit{display: inline-block; position: relative; overflow: hidden;}
.contact_tit h2{font-size: 6rem; font-weight: 400; padding-top: 20px;}
.contact_tit span{position: absolute; white-space: nowrap; font-size: 2.5rem; opacity: 0.7; animation: contact_ani 10s linear infinite;}

.contact_bottom{display: flex; gap: 60px;}
.contact_bottom dl{border-bottom: 1px solid #000; padding: 20px 10px; width: calc((100% - 120px)/3);}
.contact_bottom dl dt{font-size: 2rem; font-weight: 700; padding-bottom: 10px;}
.contact_bottom dl dd{opacity: 0.8;}

@media(max-width: 1024px){
  .contact{padding: 150px 0;}
  .contact_bottom{flex-direction: column;}
  .contact_bottom dl{width: 50%;}
  body{overflow-x: hidden;}
}

@media(max-width: 768px){
  .contact_top{background: transparent;}
  .contact_bottom dl{width: 80%;}
}

@keyframes contact_ani{
  0% {
    transform: translateX(100%);
}
100% {
    transform: translateX(-100%);
}
}

